@media screen and ( max-width: 1200px )
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem

@media screen and ( max-width: 992px )
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin: 0

@media screen and ( max-width: 900px )
  .design
    background: none
    background-color: $dark
    &__section-title
      color: $light
    &__container
      max-width: 340px
      padding: 0
  .section-title
    font-family: Yeseva One
    font-style: normal
    font-weight: normal
    font-size: 1.57rem
    &__text
      max-width: 315px
      line-height: 1.6rem
      font-size: 1.17rem
      margin-top: 1.9rem
    &--left
      text-align: left
      line-height: 158.48%
      font-size: 25.41rem
      margin: 0
    &__heading
      font-family: Yeseva One
      font-style: normal
      font-weight: normal
      font-size: 1.66rem
      margin-bottom: 1.3rem
      &--primary
        text-align: left
    &__subheader
      font-family: Futura Book
      font-style: normal
      font-weight: normal
      font-size: 1.1rem
      line-height: 1.55rem
      max-width: 265px
    &__word
      &::after
        display: none    
  .row
    flex-direction: column
    align-items: center
    width: 100%
  .types
    &__card
      margin-bottom: 5rem
  .card
    &__title
      font-style: normal
      font-weight: normal
      font-size: 1.13rem
    &__text
      margin-left: 0
      margin-top: -11rem
      padding: 1.5rem 0 0.1rem 2.8rem
      max-width: 21rem
      &--design
        margin-top: -11rem
        max-width: 21rem
        padding: 1.5rem 2.7rem 0.5rem
    &__pricetag
      padding: 0.8rem 2rem
      &--design
        padding: 1rem 2.8rem 1rem 3.6rem
        font-style: normal
        font-weight: normal
        font-size: 15px
    &__item
      font-style: normal
      font-weight: normal
      font-size: 0.98rem
      line-height: 1.7rem
      &:nth-child(n+8)
        display: none
    &__image
      width: 100%
  .col-50
    max-width: 360px
    padding-left: 10px
    padding-right: 10px
    width: 100%
    max-height: 434px
    
  .swiper
    &-slide
      &__heading
        font-size: 1rem
        font-style: normal
        font-weight: normal
      &__text
        &--bottom
          padding-bottom: 3rem


        

@media screen and ( max-width: 570px )
  .control
    &__text
      font-size: 1rem
      line-height: 169.8%
    &__policy-label
      margin-bottom: 63px
      justify-content: start
    &__form
      flex-flow: wrap
      flex-direction: column
    &__button
      order: 3
    &__container
      max-width: 340px
    &__input-group
      &--first
        margin-bottom: 64px
  .contacts
    &__button
      display: none
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
  .title
    font-size: 1.64rem
  .hero
    &__scroll-down
      display: none
    &__content
      max-width: 22.86rem
    &__text
      font-size: 1.29rem
      margin-bottom: 2.28rem
    &__button
      display: block
      min-width: 22.86rem
      margin-bottom: 1.85rem

@media screen and ( max-height: 520px )
    .hero
      &__scroll-down
        display: none